/* You can add global styles to this file, and also import other style files */

body {
    color: #4a4a4a;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: relative;
    background: #fafafa;

    padding-top: 61px;
}